body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f3f3f3;
}

/* HEADER */
.header {
    background-color: #054a91;
    color: white;
    padding: 25px 30px;
    border-radius: 0 0 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icono-casco {
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50% 50% 40% 40%;
    position: relative;
    border: 2px solid #d94848;
    cursor: default;
    margin-right: 10px;
}

/* Visor del casco */
.icono-casco::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 8px;
    background: #3b3b3b;
    border-radius: 0 0 10px 10px;
    top: 14px;
    left: 8px;
}

/* Línea roja característica */
.icono-casco::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 32px;
    background: #d94848;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}

/* TARJETA PRINCIPAL */
.tarjeta {
    background-color: white;
    max-width: auto;
    margin: auto;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* PERFIL */
.perfil {
    text-align: left;
}

.perfil img {
    width: 130px;
    height:130px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #9a7df5;
    margin-bottom: 15px;
}

.perfil h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: -90px;
}

/* INFORMACIÓN EN CUADRADOS */
.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    margin-top: 30px;
}

.info-box {
    background-color: #f7f5ff;
    padding: 15px;
    border-radius: 10px;
}

.label {
    font-size: 0.8rem;
    color: #8a77c2;
    margin-bottom: 4px;
}

.dato {
    font-weight: 500;
}

/* PROYECTOS */
.proyectos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    background-color: #e9e9e9;
    border-radius: 12px;
    width: 28%;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}

.card p {
    margin: 10px 0 0;
    font-weight: 500;
}

.card small {
    color: #555;
    font-size: 0.85rem;
}

.href{
    color: #9a7df5;
}

/* FOOTER */
footer {
    text-align: center;
    margin: 40px 0 20px;
    color: #555;
}
